    <div class="container">

        <h1>API-nycklar</h1>

        <%
        if @users
            @users.each do |user|
        %>

            <dl>
                <dd><b>E-post:</b> <%= user.email %></dd>
                <dd><b>Nyckel:</b> <%= user.key %></dd>
                <dd><a href="/keys/delete/<%= user.key %>">Radera</a></dd>
            </dl>

        <%
            end
        elsif @key
        %>

           <p>
               <b>Nyckel:</b> <%= @key.key %> <a href="/keys/delete">Radera</a>
           </p>

        <%
        else
        %>

            <p>
                Inga nycklar hittades.
            </p>

            <p>
                <a href="/keys/create">Skapa ny nyckel</a>
            </p>

        <%
        end
        %>

    </div>
