
    <div class="container">

        <h1>Skapa ny applikation</h1>

        <form action="/apps/save" method="post">

            <p>
                <%= flash[:notice] %>
            </p>

            <label for="title">Namn på applikationen</label>
            <p>
                <input type="text" name="title" id="title" data-validation="required">
            </p>

            <label for="description">Beskrivning av applikationen</label>
            <p>
                <textarea name="description" id="description" rows="8" cols="40" data-validation="required"></textarea>
            </p>

            <input type="submit" value="Skapa" class="btn btn-primary">

        </form>

    </div>
