    <div class="container">

        <h1>API-nycklar</h1>

        <%
        if @users
            @users.each do |user|
        %>

            <dl>
                <dd><b>E-post:</b> <%= user.email %></dd>
                <dd><b>Nyckel:</b> <%= user.key ? user.key : '-' %></dd>

                <% if user.key %>
                <dd><a href="/apps/delete/<%= user.key %>">Radera</a></dd>
                <% end %>
            </dl>

        <%
            end
        elsif @app
        %>

           <p>
               <b>Nyckel:</b> <%= @app.key %> <a href="/apps/delete">Radera</a>
           </p>

        <%
        else
        %>

            <p>
                Inga nycklar hittades.
            </p>

            <p>
                <a href="/apps/create">Skapa ny nyckel</a>
            </p>

        <%
        end
        %>

    </div>
