<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>REST API</title>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="brand" href="#">REST API</a>

            </div>

        </div>

    </div>

    <%= yield %>

</body>
